{% extends 'core/base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block headers %}
    <h1>Sobre mi</h1>
    <span class="subheading">Ayer no te vi</span>
{% endblock %}

{% block content %}
    <!-- Proyecto -->
	<div class="container">
      <div class="row">
	      <div class="span8">
				<h2>Sobre mi</h2>
				
				<p>Yo soy aquel que fué cambiado por otro. El tiempo perezoso
				traerá una verdad, que por postergada va sumando dolores
				indecibles....</p>
			</div>
		</div>
    </div>
{% endblock %}