{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contactar{% endblock %}

{% block headers %}
    <h1>Coockie</h1>
    <span class="subheading">no pasa variable</span>
{% endblock %}

{% block content %}
    <!-- Proyecto -->
	
	<div class="container">
      <div class="row">
        <div class="span8">

	  En el artículo anterior conté cómo estructurar un proyecto que utiliza Bootstrap, la librería CSS/JS de Twitter. Ahora viene el artículo que cuenta cómo usar Bootstrap :D

Es importante comenzar con un proyecto nuevo. No tratéis de usar Bootstrap directamente sobre un proyecto existente, ya que es desesperante. Una vez que tengáis un poco de soltura ya no será un problema.

Y sabed que soy un completo novato en lo que al tema se refiere, así que estaré hablando desde la mayor de las ignorancias :D

	
          </div>
        <div class="span8">
		 <h3>Maquetación </h3>
Bootstrap nos da algunas clases orientadas a la maquetación. Gracias a ellas resultará muy sencillo soportar dispositivos de pantallas pequeñas. A esto es lo que se le conoce como Scaffolding.

De manera muy básica: todo va dentro de .container, que a menudo contendrá .row. Si queremos que un elemento dentro del .row ocupe varias "columnas", basta con pedir que nos lo expanda. Así, se puede usar .span4 para usar 4 columnas. El modelo básico de Bootstrap contiene 12 columnas.
	
	   </div>
      </div>
    </div>
 
{% endblock %}