{% extends 'core/base.html' %}

{% load static %}

{% block title %}Portada{% endblock %}

{% block content %}

    <div class="row project">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
			<h2>Mi Web Personal</h2>

			<p>Bienvenidos.</p>
			
			Nav
Navbar navigation links build on our .nav options with their own modifier class and require the use of toggler classes for proper responsive styling. Navigation in navbars will also grow to occupy as much horizontal space as possible to keep your navbar contents securely aligned.

Active states—with .active—to indicate the current page can be applied directly to .nav-links or their immediate parent .nav-items.
        </div>
	</div>

{% endblock %}
